$primaryColor: rgb(0, 170, 255);
$darkPrimaryColor:rgb(0, 68, 102);
$brightPrimaryColor: rgb(153, 221, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$brightOrangeColor: rgb(255, 237, 204);
$primaryFont: 'Montserrat-Regular';
$secondaryFont: 'PTSans-Regular';
$headerFont: 'RobotoSlab-SemiBold';